.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-sm-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
}

@media (min-width: 768px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  }
}

.card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}

.timer-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-icon {
  width: 25px;
  margin-right: 10px;
}

.title {
  color: #333333;
}

.time {
  font-size: 48px;
  margin: 20px 0;
  color: #333333;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.btn {
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
}

.start {
  background-color: #1db05f;
}

.stop {
  background-color: #ef0d36;
}

.reset {
  background-color: #eaa800;
}
